.sortIcon {
  display: none;
}

.active {
  font-weight: bold;
  color: var(--primary);
}

.active .sortIcon {
  display: block;
  margin-right: 8px;
}

.sortName {
  display: none;
}

.sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 43px;
}

.sort button {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  line-height: 1.2rem;
  background: none;
}

.sort button:not(.active) {
  grid-template-columns: 1fr;
}
